body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:29px;
  width:1px;
  height:16px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:15px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:49px;
  width:69px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:65px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:15px;
  width:375px;
  height:20px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:78px;
  width:375px;
  height:1px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:42px;
  width:64px;
  height:26px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:45px;
  width:20px;
  height:20px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:51px;
  width:8px;
  height:8px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:52px;
  width:8px;
  height:8px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:53px;
  width:5px;
  height:5px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:53px;
  width:5px;
  height:5px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:692px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:79px;
  width:373px;
  height:692px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:115px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:79px;
  width:373px;
  height:115px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:97px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:166px;
  width:360px;
  height:97px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:188px;
  width:40px;
  height:40px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:238px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:188px;
  width:40px;
  height:40px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:238px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:188px;
  width:40px;
  height:40px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:238px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:188px;
  width:40px;
  height:40px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:238px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:129px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:281px;
  width:373px;
  height:129px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:292px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:328px;
  width:40px;
  height:40px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:378px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:328px;
  width:40px;
  height:40px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:378px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:328px;
  width:40px;
  height:40px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:378px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:100px;
  width:40px;
  height:40px;
  font-size:11px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:100px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:126px;
  width:77px;
  height:16px;
  color:#FFFFFF;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:328px;
  width:15px;
  height:15px;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:163px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:412px;
  width:373px;
  height:163px;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:423px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:459px;
  width:40px;
  height:40px;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:509px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:459px;
  width:40px;
  height:40px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:509px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#626262;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:722px;
  width:375px;
  height:49px;
  color:#626262;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:757px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:728px;
  width:25px;
  height:25px;
}
#u939_img.selected {
}
#u939.selected {
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:757px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:728px;
  width:25px;
  height:25px;
}
#u941_img.selected {
}
#u941.selected {
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:757px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:728px;
  width:25px;
  height:25px;
}
#u943_img.selected {
}
#u943.selected {
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:757px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:728px;
  width:25px;
  height:25px;
}
#u945_img.selected {
}
#u945.selected {
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(75, 146, 227, 0.619607843137255);
}
#u946 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:543px;
  width:101px;
  height:16px;
  color:rgba(75, 146, 227, 0.619607843137255);
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:328px;
  width:40px;
  height:40px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:378px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:180px;
  width:55px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u951 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:180px;
  width:55px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u952 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:180px;
  width:55px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
